body{
  margin: 0;
  padding: 0;
  min-height: 1000px;
  font-family: sans-serif;
  background: rgb(228, 227, 227);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #1d1c1c;
  transition: 1s;
  padding: 0 100px;
  box-sizing: border-box;
}

header img.banner {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: 1s;
}

header.scrolled img.banner { 
  opacity: 0;
}

header.scrolled {
  height: 100px;
}

header.scrolled .logo {
position: relative;
top: 10px;
left: 0;
}

 header .logo {
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  transition: 1s;
 }

 header .logo img {
   /* width: 300px; */
  transition: 1s;
}

header.scrolled .logo img {
 width: 80px; 
}

nav {
  position: relative;
  float: right;
}

nav ul {
  position: relative;
  margin: 0;
  padding: 40px 0;
  display: flex;
  transition: 1s;
  opacity: 0;
  visibility: hidden;
  transform: translateX(100px);
}

header.scrolled nav ul {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

nav ul li {
list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
}

nav ul li a:hover {
  background: #fff;
  color: #262626;
  transition: .5s;
}

nav ul li a.active {
  background: #fff;
  color: #262626;
}

section {
  box-sizing: border-box;
  padding: 70px;
}

section h1 {
  margin: 0;
  padding: 10px;
  font-size: 35px;
}

section p {
font-size: 18px;
text-align: justify;
}

@media (max-width: 750px) {
  section {
    padding: 35px;
  }

  section h1 {
    padding: 25px;
    text-align: center;
  }
}

@media (max-width: 590px) {

header {
  padding: 0 50px;
}

  section {
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
  }

  section h1 {
    padding: 20px;
    text-align: center;
    font-size: 30px;
  }

  

  header.scrolled .logo {
    position: relative;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    }

  nav {
    position: relative;
    float: none;
  }

  nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
   
  }

  nav ul li a {
    text-decoration: none;
    color: #000;
    padding: 10px 15px;
  }
  
}
 
 